@page "/char/{CharacterIdParameter}"

@using GloomhavenAbilityManager.Logic.Contracts.Data
@using GloomhavenAbilityManager.Logic.Contracts.Interfaces
@inject IAbilityCardService CardService
@inject ICharacterClassService ClassService
@inject ICharacterService CharacterService

@if (character == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@character.Name (@characterClass.Name)</h1>
    <p>Available Cards: @characterClass.NumberOfCards</p>
    <p>Level: (@character.Level)</p>

    <p><a href=@($"charedit\\{character.Id}")>Edit</a></p>

    <h2>Pool cards</h2>

    @for (int row = 0; row <= poolCards.Count / cardsPerRow; row++)
    {
        <tr>

            @for (int col = 0; col < cardsPerRow; col++)
            {
                @if (row * cardsPerRow + col < poolCards.Count)
                {
                    var card = poolCards[row * cardsPerRow + col];
                    <td>
                        <input type="checkbox" checked="@card.IsSelected" @onchange="eventArgs => { OnCardIsSelectedChanged(card, (bool) eventArgs.Value); }" />
                        <div class="cardname">@card.Name</div>
                        <img class="cardimage" src="@card.ImagePath" />
                    </td>
                }
            }
        </tr>
    }

    <h2>Selected cards (@selectedCards.Count / @characterClass.NumberOfCards)</h2>
    <button @onclick="SaveCards">Save selected cards</button>
    @for (int row = 0; row <= selectedCards.Count / cardsPerRow; row++)
    {
        <tr>

            @for (int col = 0; col < cardsPerRow; col++)
            {
                @if (row * cardsPerRow + col < selectedCards.Count)
                {
                    var card = selectedCards[row * cardsPerRow + col];
                    <td>
                        <div class="cardname">@card.Name</div>
                        <img class="cardimage" src="@card.ImagePath" />
                    </td>
                }
            }
        </tr>
    }
}

@code {

    private string characterIdParameter = "0";

    [Parameter]
    public string CharacterIdParameter
    {
        get
        {
            return characterIdParameter;
        }

        set
        {
            characterIdParameter = value;
            OnCharacterIdParameterChanged();
        }
    }

    private int cardsPerRow = 6;

    private Character character;
    private CharacterClass characterClass;

    private List<AbilityCard> poolCards;
    private List<AbilityCard> selectedCards;

    private void OnCharacterIdParameterChanged()
    {
        if (!int.TryParse(CharacterIdParameter, out int id))
        {
            id = 0;
        }

        character = CharacterService.GetCharacter(id);
        characterClass = ClassService.GetClass(character.ClassId);
        var tempAvailableCards = new List<AbilityCard>(character.PoolCards);
        tempAvailableCards.ForEach(c => c.IsSelected = character.SelectedCards.Any(card => card.Id == c.Id));
        poolCards = tempAvailableCards;
        UpdateSelecedCards();
    }

    private void SaveCards()
    {
        character.SelectedCards = new List<AbilityCard>(poolCards.Where(c => c.IsSelected));
        CharacterService.UpdateCharacter(character);
    }

    private void OnCardIsSelectedChanged(AbilityCard card, bool newValue)
    {
        card.IsSelected = newValue;
        UpdateSelecedCards();
    }

    private void OnCardIsSelectedChanged2(ChangeEventArgs e)
    {

        UpdateSelecedCards();
    }

    private void UpdateSelecedCards()
    {
        selectedCards = poolCards.Where(c => c.IsSelected).ToList();
    }
}
